/*
    last update : 
        date : 2018/12/22
        new  : avatar urlblock and so on
    author:
        SRM_XY Yeuoly
    group:
        VSOV
    website:
        NotForget
*/

@charset "utf-8";

li{
    list-style: none;
}

.error-block{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    font: large;
    color: brown;
    background-color: aliceblue;
}

.wrap{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 5px;
}

.oprate-box{
    height: 200px;
    width: 50%;
    margin: 0 auto;
}

.oprate-box input[type="text"]{
    height: 50px;
    background-color: transparent;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-color: white;
    outline:none;
}

.oprate-box .oprate-box-infomana-showinfo input[type="text"]{
    color: white;
    font-family:  "微软雅黑";
    font-size: 200%;
    width: 80%;
}

.oprate-box .oprate-box-infomana-showinfo .oprate-box-button{
    float: right;
    padding-top: 20px;
    padding-right: 7%;
}

.oprate-box .oprate-box-infomana-showinfo .oprate-box-button input[type="submit"]{
    border: 0px;
    outline: 0px;
    background: white;
    width: 150px;
    height: 40px;
    font-family: "微软雅黑";
    font-size: 120%;
    opacity: 0.7;
}

.post-card-body-table td button{
    border: 0px;
    outline: 0px;
    height: 100%;
    width: 40%;
    opacity: 0.7;
}

.post-card-body-table td button:hover{
    cursor: pointer;
}

.oprate-box .oprate-box-infomana-showinfo .oprate-box-label{
    color: white;
    font-family: "微软雅黑";
    font-size: 200%;
    padding-right: 5px;
}

.help-box{
    width: 90%;
    margin: 0 auto;
    color: white;
    font-family: "微软雅黑";
    font-size: 120%;
    text-align: left;
}