div, ul, li{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #ffffff !important;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    transition: all .2s ease;
    scroll-behavior:smooth;
}

input::-webkit-input-placeholder{
    color: black;
}

.vertical-blank-block{
    height: 30px;
}

@font-face {
    font-family: 'iconfont';  /* project id 1090944 */
    src: url('//at.alicdn.com/t/font_1090944_32hqgrd7vq5.eot');
    src: url('//at.alicdn.com/t/font_1090944_32hqgrd7vq5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1090944_32hqgrd7vq5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1090944_32hqgrd7vq5.woff') format('woff'),
    url('//at.alicdn.com/t/font_1090944_32hqgrd7vq5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1090944_32hqgrd7vq5.svg#iconfont') format('svg');
}

.yb-icon-font{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text--grey{
    color: rgba(0,0,0,.2) !important;
}

.text--red{
    color: rgb(245,108,108) !important;
}

.text--green{
    color: rgb(103,194,58) !important;
}

.text--white{
    color: rgb(244,244,244) !important;
}

.font--small-ex{
    font-size: 12px !important;
}

.font--small{
    font-size: 14px !important;
}

.font--normal{
    font-size: 16px !important;
}

.font--big{
    font-size: 17px !important;
}

.font--big-ex{
    font-size: 18px !important;
}

.font--large{
    font-size: 20px !important;
}