div, ul, li{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #d2e9fb!important;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    transition: all .2s ease;
    scroll-behavior:smooth;
}

input::-webkit-input-placeholder{
    color: black;
}

.vertical-blank-block{
    height: 30px;
}

.post-card{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    overflow:auto;
    background-color: rgba(238, 238, 238, 0.315);
    margin: 0 auto;
    border-radius:5px;
}

.post-card input[type="text"] , .post-introduction textarea{
    min-height: 30px;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: white;
    outline:none;
    resize: none;
    color: black;
}

@font-face {
    font-family: 'iconfont';  /* project id 1090944 */
    src: url('//at.alicdn.com/t/font_1090944_y6q37q4z40h.eot');
    src: url('//at.alicdn.com/t/font_1090944_y6q37q4z40h.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1090944_y6q37q4z40h.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1090944_y6q37q4z40h.woff') format('woff'),
    url('//at.alicdn.com/t/font_1090944_y6q37q4z40h.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1090944_y6q37q4z40h.svg#iconfont') format('svg');
}

.yb-icon-font{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}