body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(255, 196, 196);
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

.app{
    padding-right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.vertical-blank-block{
    height: 30px;
}

.header{
    box-shadow: 3px 3px 2px #a99f9f;
    opacity: 0.7;
    width: 100%;
    height: 45px;
    padding-left: 5px;
    border: 0;
    background-color: #fb8d8d;
    background-attachment:fixed;
    margin-left: -5px;
}

.header-statue{
    height: 100%;
    width: 50%;
    font-size: 150%;
    font-family: "微软雅黑";
    color: white;
    float: left;
    vertical-align: middle;
}

.header-passport{
    width: 20%;
    font-family: "微软雅黑";
    height: 100%;
    vertical-align: middle;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: right;
}

.header-passport #passport{
    width: 80%;
    height: 100%;
    border: 0px;
    color: white;
    font-size: 130%;
    background: transparent;
    vertical-align: middle;
    margin: 0 auto;
}

.header-passport #passport:hover{
    cursor: pointer;
}

#user-menu{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    background-color: #ffb8b8;;
    z-index: 2;
}

#user-block-open{
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
    float: left;
    height: 35px;
    width: 35px;
}

#user-block-open-click{
    border-radius: 50%;
    background-color: #fb8d8d;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: white;
    letter-spacing: -3px;

}

.black-cover{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    background-color: black;
    z-index: -1;
}

.footer{
    width: 100%;
    height: 25px;
    text-align: center;
    color: white;
    background-color: rgb(255, 196, 196);
}

#menu-user-block{
    padding-left: 5%;
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;
    height: 9%;
}

#menu-user-block-avatar{
    float: left;
    width: 15%;
    min-width: 45px;
    padding-right: 20px;
}

#menu-user-block-avatar-img{
    width: 100%;
    border-radius: 50%;
}

#menu-user-block-id{
    margin: 0 auto;
    float: right;
    width: 75%;
    height: 20%;
}

#menu-user-block-uid{
    margin: 0 auto;
    float: right;
    width: 75%;
    height: 20%;
    padding-bottom: 20px;
}

#menu-user-block-id-txt{
    text-align: left;
    height: 100%;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffffeb;
    cursor : pointer;
}

#menu-user-block-uid-txt{
    text-align: left;
    height: 100%;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffffeb;
}

.menu-user-block-div-line{
    color: white;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
    border-width: thin 0 0 0;
    -webkit-transition: inherit;
    transition: inherit;
}