div, ul, li{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(255, 196, 196);
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

input::-webkit-input-placeholder{
    color: black;
}

.app{
    padding-right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.vertical-blank-block{
    height: 30px;
}

.header{
    box-shadow: 3px 3px 2px #a99f9f;
    opacity: 0.7;
    width: 100%;
    height: 45px;
    padding-left: 5px;
    border: 0;
    background-color: #fb8d8d;
    background-attachment:fixed;
    margin-left: -5px;
}

.header-statue{
    height: 100%;
    width: 50%;
    font-size: 150%;
    font-family: "微软雅黑";
    color: white;
    float: left;
    vertical-align: middle;
}

.header-passport{
    width: 20%;
    font-family: "微软雅黑";
    height: 100%;
    vertical-align: middle;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: right;
}

.header-passport #passport{
    width: 80%;
    height: 100%;
    border: 0px;
    color: white;
    font-size: 130%;
    background: transparent;
    vertical-align: middle;
    margin: 0 auto;
}

.header-passport #passport:hover{
    cursor: pointer;
}

#user-menu{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    background-color: #ffb8b8;;
    z-index: 2;
}

#user-block-open{
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
    float: left;
    height: 35px;
    width: 35px;
}

#user-block-open-click{
    border-radius: 50%;
    background-color: #fb8d8d;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: white;
    letter-spacing: -3px;
}

#user-block-open-click:hover{
    background-color: #FF7E7E;
}

.black-cover{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    background-color: black;
    z-index: -1;
}

.footer{
    width: 100%;
    height: 25px;
    text-align: center;
    color: white;
    background-color: rgb(255, 196, 196);
}

#menu-user-block{
    padding-left: 5%;
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;
    height: 9%;
}

#menu-user-block-avatar{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 15%;
    min-width: 45px;
}

#menu-user-block-avatar-img{
    width: 100%;
}

#menu-user-block-id{
    margin: 0 auto;
    float: right;
    width: 75%;
    height: 20%;
}

#menu-user-block-uid{
    margin: 0 auto;
    float: right;
    width: 75%;
    height: 20%;
    padding-bottom: 20px;
}

#menu-user-block-id-txt{
    text-align: left;
    height: 100%;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffffeb;
    cursor : pointer;
}

#menu-user-block-uid-txt{
    text-align: left;
    height: 100%;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffffeb;
}

.menu-user-block-div-line{
    color: white;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
    border-width: thin 0 0 0;
    -webkit-transition: inherit;
    transition: inherit;
}

.menu-func-ul{
    margin: 0;
    padding: 0;
}

.menu-func-ul li{
    list-style: none;
}

.menu-func-li-btn-block{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
}

.menu-func-li-btn-block:hover{
    background-color: #ffa0a047;
}

.menu-func-li-btn-block-txt{
    font-size: 18px;
    margin: 0 auto;
    width: 90%;
    color: #ffffffeb;
}

.menu-func-li-btn-block-about{
    font-size: 14px;
    margin: 0 auto;
    width: 90%;
    color: #ffffffeb;
}

#alertMsg {
    opacity: 1;
    display: none;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #fdadad;
    padding: 10px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    background: #fff;
    z-index: 100000;
}

#alertMsg_info {
    color: rgba(255, 125, 125, 0.74);
    padding: 2px 15px;
    line-height: 1.6em;
    text-align: left;
}

#alertMsg_btn1, #alertMsg_btn2 {
    display: inline-block;
    /* background-color: grey; */
    padding-left: 3px;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#alertMsg_btn1 cite, #alertMsg_btn2 cite {
    font-size: 15px;
    color: white;
    width: 80px;
    line-height: 36px;
    display: inline-block;
    /* padding: 0 0px 0 10px; */
    background: #ffdada;
    font-style: normal;
    border-radius: 10px;
}

.post-card{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    overflow:auto;
    background-color: rgba(238, 238, 238, 0.315);
    margin: 0 auto;
    border-radius:5px;
}

.post-card input[type="text"] , .post-introduction textarea{
    min-height: 30px;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: white;
    outline:none;
    resize: none;
    color: black;
}

.post-card-body-blog input[type="text"], .post-card-body-picture input[type="text"] , .post-card-body-url input[type="text"]{
    width: 100%;
    font-size: 18px;
}

.post-card input[type="button"]{
    overflow: paged-x;
    float: left;
    border: 0px;
    border-right: 10px;
    outline: 0px;
    background: rgba(255,255,255,0.4);
    width: 190px;
    margin-left: 10px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.post-card-body-li{
    margin-bottom: 40px;
    overflow: auto;
}

.post-card-head{
    width: 100%;
    overflow: auto;
    text-align: center;
    padding-bottom: 10px;
}

.post-card-deletion , .post-card-edition{
    float: right;
    font-size: 85%;
    width: 50px;
    text-underline-position: auto;
    text-decoration: underline;
    cursor: pointer;
}

.post-card-body{
    width: 95%;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
    padding-bottom: 10px;
}

.post-introduction{
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    /* margin-left: -30px; */
    float: left;
    width: 68%;
    min-height: 50px;
    text-align: justify;
    background-color: rgba(255,255,255,0.135);
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: 1px;
    line-height: 22px;
    border: 10px;
}

.post-introduction textarea{
    width: 100%;
    font-size: 15px;
}

.post-title{
    margin: 0 auto;
    padding-bottom: 10px;
}

.post-title input[type="text"]{
    color: white;
    font-family:  "微软雅黑";
    font-size: 150%;
    width: 80%;
    text-align: center;
}

.post-card-userblock{
    padding-left: 25px;
    width: 17%;
    height: 50px;
    float: left;
}

.post-card-userblock-id{
    /* float: left; */
    width: 50%;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-userblock-avatar{
    float: left;
    width: 50px;
    height: 50px;
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#post-card-userblock-avatar-img{
    object-fit: cover;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
}

.post-card-body-url a{
    font-size: 135%;
    color: black;
    /*text-decoration: none;*/
}

.post-card-body-table{
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
    word-break: break-all;
}

.post-card-body-blog{
    word-wrap: break-word;
    word-break: break-all;
}

.post-card-body-table td{
    display: table-cell;
    text-align: center;
    font-family: "微软雅黑 Narrow";
    color:rgb(37, 37, 37);
}

.post-card-body-table .showinfo-title{
    width: 30%;
}

.post-card-body-table .showinfo-num{
    width: 5%;
}

.post-card-body-img{
    width: 100%;
}
