<!--
    NotForget WebSite / index.html
    © 2018 DREAM IN THE VAST SEA OF STARS
    Powered By VSOV JQuery
    Build: 2018.12.16 - 19:21:00
    Version: 1.0.2 - alpha-1.0
    
    "There's a reason why we came to this world."
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="./js/jq.js"></script>
    <script type="text/javascript" src="./js/data.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>

</head>
<body>
    <div class="app" id="map">
        <div class="vertical-blank-block"></div>
        <div class="card" id="about">
            <h2 id="about-title" class="card-title">
                {{title}}
            </h2>
            <div class="vertical-blank-block"></div>
            <div id="about-content" class="card-content">
                <div id="head">
                    {{content}}
                </div>
                <div id="techList">
                    <ul>
                        <li v-for="T in techList" id="tech-list-li">
                            <div class="techAbout">
                                <span class="techName">
                                    ● {{T.name}}
                                </span>
                                <span class="techContent">
                                    {{T.content}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vertical-blank-block"></div>
        <div id="updates-log" class="card">
            <h2 id="log-title" class="card-title">
                {{title}}
            </h2>
            <div class="vertical-blank-block"></div>
            <div id="updates-log-list">
                <ul>
                    <li v-for="log in updateLog">
                        <div class="updateLog">
                            <span class="updateLog-avatar"></span>
                            <span class="updateLog-title">{{log.date}} : {{log.title}}</span>
                            <span class="updateLog-blank-block"></span>
                            <span class="updateLog-content">{{log.content}}</span>
                        </div>
                        <div class="vertical-blank-block"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="vertical-blank-block"></div>
</body>

</html>